Repository emacsmirror/el-fetch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install, run

.gitlab-ci.yml:

---


# This file is part of el-fetch.

# el-fetch is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, version 3.

# el-fetch is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with el-fetch.  If not, see <https://www.gnu.org/licenses/>.

# Copyright (c) 2022, Maciej BarÄ‡ <xgqt@riseup.net>
# Licensed under the GNU GPL v3 License
# SPDX-License-Identifier: GPL-3.0-only


variables:
   GIT_SUBMODULE_STRATEGY: recursive
   TERM: dumb


stages:
  - install
  - run

image: alpine:latest

before_script:
  - apk update
  - apk add emacs make
  - make compile


install:
  stage: install

  rules:
    - changes:
      - .gitlab-ci.yml
      - Makefile
      - src/**/*.el

  script:
    - make install


run:
  stage: run

  rules:
    - changes:
      - .gitlab-ci.yml
      - Makefile
      - extras/el-fetch-console
      - src/**/*.el

  script:
    - sh ./extras/el-fetch-console

.gitlab-ci.yml: run - create emacs dir
  .gitlab-ci.yml
Due: install, run

extras/el-fetch-console: load from anywhere
  extras/el-fetch-console
Due: run

src/el-fetch/el-fetch.el: N/A when no theme is loaded
  src/el-fetch/el-fetch.el
Due: install, run

src/el-fetch/el-fetch.el: bump to 1.1.0
  src/el-fetch/el-fetch.el
Due: install, run

Cask: add
  Cask
Due: none

Makefile: add cask- & run
  Makefile
Due: install, run

.gitlab-ci.yml: use make to run
  .gitlab-ci.yml
Due: install, run

extras/el-fetch-console: rewrite in elisp
  extras/el-fetch-console
Due: run

Makefile: update run
  Makefile
Due: install, run

extras/el-fetch-console: fix el-fetch-lib
  extras/el-fetch-console
Due: run

tests: add el-fetch
  tests/el-fetch/console-test.el
  tests/el-fetch/spoof-test.el
Due: none

Makefile: add buttercup tests
  Makefile
Due: install, run

Cask: add buttercup
  Cask
Due: none

Makefile: update
  Makefile
Due: install, run

tests/el-fetch/console-test.el: update regex
  tests/el-fetch/console-test.el
Due: none

.gitlab-ci.yml: add test stage
  .gitlab-ci.yml
Due: install, run

.gitlab-ci.yml: update stages
  .gitlab-ci.yml
Due: install, run

.gitlab-ci.yml: fix spelling
  .gitlab-ci.yml
Due: install, run

.gitlab-ci.yml: emacs-buttercup -> elpa-buttercup
  .gitlab-ci.yml
Due: install, run

.gitlab-ci.yml: test - create ~/.emacs.d
  .gitlab-ci.yml
Due: install, run

.gitlab-ci.yml: use debian:unstable
  .gitlab-ci.yml
Due: install, run

tests/el-fetch/console-test.el: use :to-contain
  tests/el-fetch/console-test.el
Due: none

tests/el-fetch/console-test.el: append to env
  tests/el-fetch/console-test.el
Due: none

.gitlab-ci.yml: fix ci
  .gitlab-ci.yml
Due: install, run

Makefile: no need for --directory
  Makefile
Due: install, run

ts/el-fetch/console-test.el: el-fetch-console var
  tests/el-fetch/console-test.el
Due: none

tests/el-fetch/console-test.el: use :var
  tests/el-fetch/console-test.el
Due: none

tests/el-fetch/console-test.el: add "Contains CPU" case
  tests/el-fetch/console-test.el
Due: none

tests/el-fetch/console-test.el: assume
  tests/el-fetch/console-test.el
Due: none

tests/el-fetch/spoof-test.el: fset; add "Uptime"
  tests/el-fetch/spoof-test.el
Due: none

tests/el-fetch/spoof-test.el: add "Shell"
  tests/el-fetch/spoof-test.el
Due: none

src/el-fetch/el-fetch.el: do not explicitly specify nil
  src/el-fetch/el-fetch.el
Due: install, run

src/el-fetch/el-fetch.el: insert "\n" -> newline
  src/el-fetch/el-fetch.el
Due: install, run

src/el-fetch/el-fetch.el: bump to 1.1.1
  src/el-fetch/el-fetch.el
Due: install, run

Makefile: update tests
  Makefile
Due: install, run

Makefile: EMACFLAGS -> EMACSFLAGS
  Makefile
Due: install, run

src/el-fetch/el-fetch.el: add autoloads
  src/el-fetch/el-fetch.el
Due: install, run

extras/gentoo: add 50el-fetch-gentoo.el
  extras/gentoo/50el-fetch-gentoo.el
Due: none

Makefile: add image target
  Makefile
Due: install, run

extras: el-fetch-console -> bin/el-fetch
  Makefile
  extras/bin/el-fetch
Due: install, run
